<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TakerInfo</servlet-name>
        <servlet-class>servlets.TakerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaArticulos</servlet-name>
        <servlet-class>servlets.IngresaArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargadorCategorias</servlet-name>
        <servlet-class>servlets.CargadorCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargadorArticulos</servlet-name>
        <servlet-class>servlets.CargadorArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargadorTallas</servlet-name>
        <servlet-class>servlets.CargadorTallas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargadorColores</servlet-name>
        <servlet-class>servlets.CargadorColores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TakerInfo</servlet-name>
        <url-pattern>/TakerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaArticulos</servlet-name>
        <url-pattern>/IngresaArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargadorCategorias</servlet-name>
        <url-pattern>/CargadorCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargadorArticulos</servlet-name>
        <url-pattern>/CargadorArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargadorTallas</servlet-name>
        <url-pattern>/CargadorTallas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargadorColores</servlet-name>
        <url-pattern>/CargadorColores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
